<div class="container mt-2">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center bg-light" id="login-header">

          <!-- Título com cor escura -->
          <h2 class="text-dark">Nova conta</h2>
        </div>
        <div class="card-body">

        <!-- Exibição do Avatar -->
        <div class="text-center">
          <% if @user.avatar.attached? %>
            <%= image_tag url_for(@user.avatar), class: "img-thumbnail rounded-circle mb-3", alt: "Foto de Perfil" %>
          <% else %>
            <i class="fas fa-user-circle" style="font-size: 150px; color: white;"></i>
          <% end %>
        </div>

          <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { class: "needs-validation" }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <!-- Campo Nome -->
              <div class="mb-3">
                <%= f.input :name,
                            required: true,
                            label: "Nome",
                            input_html: { autocomplete: "name", class: "form-control text-dark" },
                            label_html: { class: "form-label" } %>
              </div>

              <!-- Campo Email -->
              <div class="mb-3">
                <%= f.input :email,
                            required: true,
                            label: "E-mail",
                            input_html: { autocomplete: "email", class: "form-control text-dark" },
                            label_html: { class: "form-label" } %>
              </div>
              <!-- Campo Foto -->
              <div class="mb-3">
                <div class="custom-file">
                  <%= f.input :avatar,
                              as: :file,
                              label: "Alterar Foto de Perfil",
                              input_html: { class: "custom-file-input", id: "customFile" },
                              label_html: { class: "custom-file-label text-dark-grey", for: "customFile" } %>
                </div>
              </div>
            </div>

              <!-- Campo Senha -->
              <div class="mb-3">
                <%= f.input :password,
                            required: true,
                            label: "Senha",
                            hint: ("#{@minimum_password_length} caracteres no mínimo" if @minimum_password_length),
                            input_html: { autocomplete: "new-password", class: "form-control text-dark" },
                            label_html: { class: "form-label" } %>
              </div>

              <!-- Campo Confirmar Senha -->
              <div class="mb-3">
                <%= f.input :password_confirmation,
                            required: true,
                            label: "Confirmar Senha",
                            input_html: { autocomplete: "new-password", class: "form-control text-dark" },
                            label_html: { class: "form-label" } %>
              </div>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Criar", class: "btn btn-primary corner-rounded w-50 mb-2" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
