
<h1>Your Favorite Events</h1>

<% if @favorites.present? %>
  <%# Group events by month and sort them by date %>
  <% sorted_favorites = @favorites.sort_by { |favorite| favorite.event.start_date } %>
  <% grouped_by_month = sorted_favorites.group_by { |favorite| favorite.event.start_date.beginning_of_month } %>

  <% grouped_by_month.each do |month, favorites| %>
    <h2><%= month.strftime("%B %Y") %></h2> <!-- Display the month as a header -->

    <div class="row">
      <% favorites.each do |favorite| %>
        <div class="col-md-4 mb-4">
          <div class="card position-relative">
            <%# Event Image %>
            <%= image_tag(favorite.event.url_image, class: "card-img-top rounded-corner", alt: "Event image") if favorite.event.url_image.present? %>

            <%# Heart Button %>
            <a href="#" class="position-absolute top-0 end-0 m-2" style="z-index: 1; color: black; font-size: 1.5rem;">
              <i class="fas fa-heart"></i>
            </a>

            <%# Card Body %>
            <div class="card-body">
              <h3 class="card-title mb-3"><%= favorite.event.title %></h3>
              <p class="card-text mt-3"><%= truncate(favorite.event.description, length: 100) %></p>

              <%# Event Details %>
              <div class="d-flex justify-content-between align-items-center">
                <small class="text-muted">
                  <%= favorite.event.start_date.strftime("%d/%m/%Y") %>
                  <%= favorite.event.start_time.strftime("%H:%M") if favorite.event.start_time %>
                </small>
                <span class="badge bg-primary">R$ <%= number_with_precision(favorite.event.price, precision: 2) %></span>
              </div>

              <%# Event Genres %>
              <div class="mt-2">
                <% favorite.event.genres.each do |genre| %>
                  <span class="badge bg-secondary"><%= genre.name %></span>
                <% end %>
              </div>
            </div>

            <%# Card Footer with Links %>
            <div class="card-footer text-center">
              <%= link_to "View Details", event_path(favorite.event), class: "btn btn-primary btn-sm", data: { turbo: "false" } %>
              <%= link_to 'Remove from Favorites', favorite_path(favorite), class: 'btn btn-danger btn-sm', data: { turbo_method: :delete, turbo_confirm: 'Are you sure you want to remove this event from your list of favorites' } %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  <% end %>
<% else %>
  <p>You have no favorite events yet.</p>
<% end %>
