<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center bg-light" id="login-header">
          <!-- Título com cor escura -->
          <h2 class="text-dark">Esqueceu sua senha?</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, class: "needs-validation" }) do |f| %>
            <%= f.error_notification %>

            <div class="form-inputs">
              <!-- Campo Email -->
              <div class="mb-3">
                <%= f.input :email, 
                            required: true, 
                            label: "E-mail", 
                            input_html: { autocomplete: "email", class: "form-control text-dark" }, 
                            label_html: { class: "form-label" } %>
              </div>
            </div>

            <div class="form-actions text-center">
              <%= f.button :submit, "Enviar instruções para redefinir a senha", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="text-center mt-3">
        <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>
