<nav class="navbar navbar-expand-lg navbar-light navbar-giggoers w-100">
 <div class="container px-4">
   <div class="row w-100 m-0 align-items-center">
     <div class="col-3 d-flex align-items-center ps-4">
       <%= link_to "/", class: "navbar-brand d-flex align-items-center" do %>
         <%= image_tag "logo.png", class: 'logo' %>
       <% end %>
     </div>
     <div class="col-6 text-center d-flex flex-column align-items-center justify-content-center">
       <%= link_to "/", class: "text-decoration-none text-dark d-flex flex-column align-items-center" do %>
         <h1 class="app-title mb-1">GigGoers</h1>
         <p class="app-subtitle m-0 mb-2">Você no lugar quando a música começar!</p>
       <% end %>
     </div>
     <div class="col-3 d-flex justify-content-end align-items-center pe-4">
       <% if current_user %>
         <%= link_to destroy_user_session_path,
                       class: 'btn btn-logout rounded-pill px-4 py-2 d-flex align-items-center gap-2',
                       data: { turbo_confirm: 'Tem certeza que deseja sair?', turbo_method: :delete } do %>
           <i class="fas fa-door-open"></i>
         <% end %>
       <% else %>
         <%= link_to new_user_session_path,
                     class: 'btn btn-login rounded-pill px-4 py-2 d-flex align-items-center gap-2' do %>
           <i class="fas fa-user"></i>
         <% end %>
       <% end %>
     </div>
   </div>

   <div class="row w-100 m-0">
     <div class="col-12 position-relative">
       <%= form_with url: events_path, method: :get, class: "d-flex" do |form| %>
         <div class="input-group">
           <%= form.text_field :query,
               value: params[:query],
               id: "search-query",
               class: "rounded-pill me-2 flex-grow-1 py-2",
               placeholder: (user_signed_in? ? " Olá #{current_user.name}, qual o seu plano?" : ' Qual o seu plano?') %>

           <%= form.button type: 'submit',
               class: 'btn btn-warning rounded-circle position-absolute end-0 top-50 translate-middle-y',
               name: nil do %>
             <i class="bi bi-search"></i>
           <% end %>
         </div>
       <% end %>
     </div>
   </div>
 </div>
</nav>
