<nav class="navbar navbar-expand-lg navbar-light navbar-giggoers">
  <!-- Container principal para o layout do navbar -->
  <div class="container">
    <!-- Primeira linha do navbar: Logo, Título e Botão Login/Logout -->
    <div class="row align-items-center">
      <div class="col-3">
        <!-- Link para a home com a logo -->
        <%= link_to "/", class: "navbar-brand" do %>
          <%= image_tag "logo.png", class: 'logo' %> <!-- Logo da aplicação -->
        <% end %>
      </div>
      <div class="col-6 text-left">
        <!-- Título e subtítulo do app -->
        <%= link_to "/", class: "text-decoration-none text-dark" do %>
          <h1 class="app-title">GigGoers</h1>
          <p class="app-subtitle">Você no lugar quando a música começar!</p>
        <% end %>
      </div>
      <div class="col-3 d-flex justify-content-end">
        <% if current_user %>
          <!-- Botão de logout: visível apenas se o usuário estiver logado -->
          <%= link_to destroy_user_session_path,
                        class: 'btn btn-logout rounded-pill px-4 py-2 d-flex align-items-center gap-2',
                        data: { turbo_confirm: 'Tem certeza que deseja sair?', turbo_method: :delete } do %>
            <i class="fas fa-door-open"></i>
          <% end %>
        <% else %>
          <!-- Link de login: visível apenas se o usuário NÃO estiver logado -->
          <%= link_to new_user_session_path,
                      class: 'btn btn-login rounded-pill px-4 py-2 d-flex align-items-center gap-2' do %>
            <i class="fas fa-user"></i>
          <% end %>
        <% end %>
      </div>
    </div>

    <!-- Segunda linha do navbar: Campo de busca -->
    <div class="row w-100">
      <div class="col-12 position-relative">
        <!-- Formulário para busca de eventos -->
        <%= form_tag events_path, method: :get, class: "d-flex" do %>
          <div class="input-group">
            <!-- Campo de entrada para busca -->
            <input type="text" name="query" class="form-control rounded-pill me-2" placeholder="<%= user_signed_in? ? "Olá #{current_user.name}, qual o seu plano?" : 'Qual o seu plano?' %>"
       value="<%= params[:query] %>"/>

            <!-- Botão de busca com ícone -->
            <%= link_to events_path(query: params[:query]),
                        class: 'btn btn-warning rounded-circle position-absolute end-0 top-50 translate-middle-y me-2',
                        style: 'z-index: 10;' do %>
              <i class="bi bi-search"></i> <!-- Ícone de lupa do Bootstrap Icons -->
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</nav>
