<div class="card position-relative">
  <%# Adicionado "position-relative" para posicionar o botão de coração %>

  <!-- Adicionando a imagem do evento no topo do card -->
  <%= image_tag(event.url_image, class: "card-img-top rounded-corner", alt: "Imagem do evento") if event.url_image.present? %>

  <!-- Botão de coração -->
  <% if current_user.present? %>
        <%= render 'favorites/btn', event:%>
      <% else %>
        <%= link_to new_user_session_path, data: {turbo_method: :post}, class: "favorite-toggle position-absolute top-0 end-0 m-2" do %>
       <i class="fa-regular fa-heart outline-heart fa-lg"></i>
      <% end %>
    <% end %>

  <%# Corpo do card %>
  <div class="card-body">

    <%# Título do evento em heading 4 %>
    <h3 class="card-title mb-3"><%= event.title %></h3>
    <%# Descrição do evento limitada a 100 caracteres %>
    <p class="card-text mt-3"><%= truncate(event.description, length: 100) %></p>

    <%# Container flex que distribui itens nas extremidades e centraliza verticalmente %>
    <div class="d-flex justify-content-between align-items-center">
      <small class="text-muted">
        <%= event.start_date.strftime("%d/%m/%Y") %>
        <%= event.start_time.strftime("%H:%M") if event.start_time %>
      </small>
      <span class="badge bg-primary">R$ <%= number_with_precision(event.price, precision: 2) %></span>
    </div>

    <%# Container com margem superior de 2 unidades %>
    <div class="mt-2">
      <% event.genres.each do |genre| %>
        <span class="badge bg-secondary"><%= genre.name %></span>
      <% end %>
    </div>
  </div>

  <div class="card-footer d-flex justify-content-between align-items-center">
    <%= link_to "Ver Detalhes", event_path(event),
      class: "btn btn-primary btn-sm corner-rounded", data: { turbo: "false" } %>

    <a href="https://wa.me/?text=Confira%20esse%20evento:%20#{event_url(event)}"
       target="_blank"
       rel="noopener"
       class="text-body-primary">
      <i class="fas fa-share-alt"></i>
    </a>
  </div>
</div>
