<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header text-center bg-light" id="login-header">
          <!-- Título com cor escura -->
          <h2 class="text-dark">Entrar</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }, html: { class: "needs-validation" }) do |f| %>
            <div class="form-inputs">
              <!-- Campo E-mail -->
              <div class="mb-3">
                <%= f.input :email,
                            required: true,
                            label: "E-mail",
                            input_html: { autocomplete: "email", class: "form-control" },
                            label_html: { class: "form-label" } %>
              </div>

              <!-- Campo Senha -->
              <div class="mb-3">
                <%= f.input :password,
                            required: true,
                            label: "Senha",
                            input_html: { autocomplete: "current-password", class: "form-control" },
                            label_html: { class: "form-label" } %>
              </div>

              <!-- Campo Lembrar de mim -->
              <% if devise_mapping.rememberable? %>
                <div class="form-check mb-3">
                  <%= f.input :remember_me,
                              as: :boolean,
                              label: "Lembrar de mim",
                              input_html: { class: "form-check-input" },
                              label_html: { class: "form-check-label" } %>
                </div>
              <% end %>
            </div>

      <div class="text-center mt-3">

        <!-- Link para Não tem cadastro? e Esqueceu a senha? -->
          <%= render "devise/shared/links" %>
        </div>
            <div class="form-actions text-center mt-3">

              <!-- Botão de Login -->
              <%= f.button :submit, "Entrar", class: "btn btn-primary w-100" %>
            </div>
          <% end %>
        </div>
      </div>

      <div class="text-center mt-3">
        <!-- Botão para Sign Up com fundo sólido -->
        <%= link_to "Não tem cadastro?", new_user_registration_path, class: "btn btn-secondary w-100" %>
        <div class="mt-2">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
