<h2>Log in</h2>

<%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false }) do |f| %>
  <div class="form-inputs">
    <!-- Campo para email, obrigat처rio -->
    <%= f.input :email,
                required: true,
                input_html: { autocomplete: "email" } %>

    <!-- Campo para senha, obrigat처rio -->
    <%= f.input :password,
                required: true,
                input_html: { autocomplete: "current-password" } %>

    <!-- Campo para lembrar login, opcional -->
    <%= f.input :remember_me, as: :boolean if devise_mapping.rememberable? %>
  </div>

  <div class="form-actions">
    <!-- Bot찾o de login -->
    <%= f.button :submit, "Log in", class: "btn btn-outline" %>
  </div>
<% end %>

<div class="form-links">
    <%= link_to "N찾o tem cadastro?", new_user_registration_path, style: "color: blue; text-decoration: underline;" %>
</div>

<!-- Links compartilhados do Devise -->
<%= render "devise/shared/links" %>
